<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Negociador de Ações</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <a class="navbar-brand" href="/">Início</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
	
	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav mr-auto">
	      		<li class="nav-item">
	        		<a class="nav-link" href="account">Contas</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="company">Empresas</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="investmentRule">Regras de Investimento</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="simulation">Simulação</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="transaction">Histórico de Transações</a>
	      		</li>
	    	</ul>
	  </div>
	</nav>
	
	<div class="container">
	
		<div id="account-list">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Email</th>
						<th>Fundo de Investimento</th>
					</tr>
				</thead>
				<tr th:each="account : ${accounts}">
					<td><span th:text="${account.email}"></span></td>
					<td><span th:text="${account.fund}"></span></td>
				</tr>

			</table>
		</div>
		
		<hr/>
	
		<form action="account/save">
			<div class="form-group">
		    	<label for="account-email">E-mail</label>
		    	<input type="email" class="form-control" id="account-email" name="account-email" placeholder="E-mail da conta">
			</div>
			<div class="form-group">
		    	<label for="account-fund">Fundo de Investimentos</label>
		    	<input type="number" class="form-control" id="account-fund" name="account-fund" placeholder="Valor disponível para fundo de investimentos ">
		  	</div>
		  	<button type="submit" class="btn btn-dark">Salvar</button>
		</form>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>