<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Negociador de Ações</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/investmentRule.css" rel="stylesheet" />
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <a class="navbar-brand" href="/">Início</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
	
	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav mr-auto">
	      		<li class="nav-item">
	        		<a class="nav-link" href="account">Contas</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="company">Empresas</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="investmentRule">Regras de Investimento</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="simulation">Simulação</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="transaction">Histórico de Transações</a>
	      		</li>
	    	</ul>
	  </div>
	</nav>
	
	<div class="container">
	
		<div id="investment-rule-list">
			<table id="investment-rule-table" class="table table-hover">
				<thead>
					<tr>
						<th hidden>Id</th>
						<th>Conta</th>
						<th>Empresa</th>
						<th>Preço de Compra</th>
						<th>Preço de Venda</th>
					</tr>
				</thead>
				<tr th:each="investmentRule : ${investmentRules}">
					<td hidden><span th:text="${investmentRule.id}"></span></td>
					<td><span th:text="${investmentRule.account.email}"></span></td>
					<td><span th:text="${investmentRule.company.name}"></span></td>
					<td><span th:text="${investmentRule.purchasePrice}"></span></td>
					<td><span th:text="${investmentRule.salePrice}"></span></td>
					<td hidden><span th:text="${investmentRule.account.id}"></span></td>
					<td hidden><span th:text="${investmentRule.company.id}"></span></td>
				</tr>

			</table>
		</div>
		
		<button type="button" onclick="emptyForm()" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">Cadastrar</button>
		<button type="button" onclick="loadForm()" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">Alterar</button>
		<button type="button" onclick="remove()" class="btn btn-dark">Delete</button>
		
			
		
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		    	
		    		<form action="investmentRule/save" method="POST">
		    		
		    			<div class="modal-header">
			        		<h5 class="modal-title" id="exampleModalLabel">Regra de Investimento</h5>
			        		<button type="reset" class="close" data-dismiss="modal" aria-label="Close">
			          			<span aria-hidden="true">&times;</span>
			        		</button>
			      		</div>				
					
			      		<div class="modal-body">
			        		<div hidden class="form-group">
						    	<input type="number" class="form-control" id="investment-rule-id" name="investment-rule-id">
							</div>
							
							<div class="form-group">
								<label for="investment-rule-account">Conta</label>
								<select id="investment-rule-account" name="investment-rule-account" class="custom-select" required>
								  <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.email}"></option>
								</select>
							</div>
							
							<div class="form-group">
								<label for="investment-rule-company">Empresa</label>
								<select id="investment-rule-company" name="investment-rule-company" class="custom-select" required>
								  <option th:each="company : ${companys}" th:value="${company.id}" th:text="${company.name}"></option>
								</select>				
							</div>			
						
							<div class="form-group">
						    	<label for="investment-rule-purchase-price">Valor de compra</label>
						    	<input type="number" class="form-control" id="investment-rule-purchase-price" name="investment-rule-purchase-price" step="0.01" placeholder="Valor máximo na quão as ações serão compradas" required>
							</div>
							
							<div class="form-group">	
						    	<label for="investment-rule-sale-price">Valor de venda</label>
						    	<input type="number" class="form-control" id="investment-rule-sale-price" name="investment-rule-sale-price" step="0.01" placeholder="Valor mínimo nas quais as ações serão vendidas" required>
						  	</div>
			      		</div>
			      		
			      		<div class="modal-footer">
			        		<button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        		<button type="submit" class="btn btn-dark">Salvar</button>
			      		</div>
			      		
		      		</form>
		    	</div>
		  	</div>
		</div>
		
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/investmentRule.js"></script>

</body>
</html>